- if user_signed_in? 
	- if @user["fbid"]
		<a id="fbLogout">Log out of Facebook</a>
	- else
		-# # = link_to "Sign out", '/logout', method: :delete
		= link_to "Sign out", '/logout'
- else
	<a id ="fbLogin">Log in with Facebook</a>
	.or
		OR
	-# = link_to "Sign up", new_user_registration_path	
	.register
		= link_to "Sign up", nil,  id: "sign-up"
		.sign-up-form
			=form_tag '/users', method: :post do
				= email_field_tag "email", nil, placeholder: "Email"
				= password_field_tag "password", ""
				= submit_tag "Submit"
				.show-password.show
					= check_box_tag "show-password"
					show password
	.login
		=link_to "Log In", nil, id:"log-in"
		.log-in-form
			=form_tag '/login', method: :post do
				= email_field_tag "email", nil, placeholder: "Email"
				= password_field_tag "password", ""
				= submit_tag "Submit"
				.show-password.show
					= check_box_tag "show-password"
					show password