
%html
  %head
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    


%body
 

    

  -# .fb-login-button{:data-max-rows =>"1", :data-size =>"large", :data-button-type =>continue_with, :data-show-faces =>"false", :data-auto-logout-link =>"false", :data-use-continue-as =>"false"}, 

  #main
    - if flash[:notice]
      #notice.message= flash[:notice]
    - elsif flash[:warning]
      #warning.message= flash[:warning]
    = yield